<h1>This is the show page for an individual instance of your model.</h1>

<h4><p class="text-md-start" >Pending Order</p></h4>

<div class="card">
    <h5 class="card-header"><%= @drinks.name %></h5>
    <div class="card-body">
    <h5 class="card-title"><%= @drinks.category %></h5>
        <p class="card-text">Number of Drink(s): <%= @drinks.quantity %></p>
        <a href="/drinks/<%= @drinks.id %>/edit" class="btn btn-primary">Edit</a>
        <a href="/drinks" class="btn btn-primary">Continue</a>
        <br /><br />
        <form class="" action="/drinks/<%= @drinks.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
    </div>
</div>